.form {
  padding: 20px;
  border: 2px solid #242424;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 10px;
  margin-bottom: 10px;
}

.form-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.form-item input {
  width: 100%;
}

.form-error {
  font-weight: 500;
  color: #fd1014;
}